boxsdk
numpy
torch>=2.1.2
torchvision
torchdiffeq
torchsde
matplotlib
tqdm
open3d
trimesh
pyglet==1.5.31
transformers>=4.56.1
Pillow
datasets
huggingface_hub
onnxruntime-gpu; platform_system != 'Darwin'
onnxruntime; platform_system == 'Darwin'
opencv-python
shapely
pycocotools
einops
safetensors
timm
tomesd
decord
scikit-image
omegaconf
SentencePiece
albumentations
imageio[ffmpeg]
imageio[pyav]
tensorboard
beautifulsoup4
ftfy
func_timeout
accelerate>=0.25.0
diffusers>=0.30.1,<=0.31.0
flash_attn
numpy
Pillow
Requests