--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
accelerate>=0.25.0
albumentations
beautifulsoup4
boxsdk
datasets
decord
diffusers>=0.30.1,<=0.31.0
einops
flash_attn
ftfy
func_timeout
fvcore
gsplat
h5py
hydra-core
huggingface_hub
imageio[ffmpeg,pyav]
iopath
lpips
matplotlib
mmengine
numpy<2.0
omegaconf
onnxruntime-gpu; platform_system != 'Darwin'
onnxruntime; platform_system == 'Darwin'
open3d
opencv-python
pdbr
Pillow
plyfile
projectaria-tools[all]
PyMCubes
pycocotools
pyglet==1.5.31
pyyaml
rembg
requests
rerun-sdk
rich
ruamel.yaml
safetensors
sam2
scikit-image
sentencepiece
shapely
splines
tensorboard
timm
tomesd
torchdiffeq
torchsde
torchmetrics
transformers>=4.56.1
trimesh
tqdm
ujson
viser
xformers
sam2==0.4.1
