decord
#flash-attn==2.7.4.post1
pysubs2
pyarrow
transformers==4.57.6
tokenizers==0.22.2
vllm==0.15.1
networkx
requests
Pillow
packaging
numpy
huggingface_hub>=0.25.0

accelerate
qwen_vl_utils
tqdm
timm